.project-content-main {
    width: 100%;
}

.project-content-main h1 {
    margin-left: 80px;
    margin-bottom: 50px;
}
.project-content-main > p {
    width: 80%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 1.6;
}


