.project-content-main {
    width: 100%;
}

.project-content-main h1 {
    margin-left: 5.56vw;
    margin-bottom: 3.47vw;
}
.project-content-main > p {
    width: 80%;
    margin: auto;
    margin-top: 4.86vw;
    margin-bottom: 4.86vw;
    font-size: 1.125rem;
    line-height: 1.6;
}


