.widget-front {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
}

.widget-front h4 {
    align-self: flex-start  ;
}

.front-langages-container {
    width: 100%;
}

.front-langages-container ul {
    list-style: none;
    align-self: flex-start;
    margin: 0;
    padding: 0 0 30px 0;
}

.front-langages-container ul li {
    word-spacing: 10em;
    padding: 10px;
}
