.header{
    background-color: #f4f4f4;
    padding: 0.625rem;
    text-align: end;
    background-color: transparent;
}

.container-contact {
    position: relative;
    top: 0;
    left: 50%;
    display: flex;
    height: 6.94vw;
    transform: translate(-50%, -64%);
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: #211C39;
    width: 27.78vw;
    padding: 1.25rem;       
  clip-path: polygon(
    15% 0%,    /* haut-gauche */
    85% 0%,    /* haut-droit */
    100% 50%,  /* milieu-droit */
    85% 100%,  /* bas-droit */
    15% 100%,  /* bas-gauche */
    0% 50%     /* milieu-gauche */
  );
}

.container-contact button {
    height: 2.5rem;
    text-align: center;
    font-size: 1.125rem;
    border-radius: 10px;
    aspect-ratio: 1 / 1 ;
    transform: translateY(25%);
    background-color: #F8F7FD;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #000000;
    cursor: pointer;
    border: #1B162C solid 2px;
    transition: 0.5s ease;
}

.container-contact button:hover{
    height: 2.5rem;
    font-size: 1.125rem;
    border-radius: 10px;
    aspect-ratio: 1 / 1 ;
    transform: translateY(25%);
    background-color: #5C40D8;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    border: #FFFFFF solid 2px;
    transition: 0.5s ease;
}

.header h1 {
    position: relative;
    font-variant: small-caps;
    top: -3.125rem;
    margin-right: 1.25rem;
}