.projet-section {
  padding: 0 10px 0 40px;
  font-family: 'Montserrat', sans-serif;
}

.projet-placement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  height: 100%; /* ou min-height selon besoin */
  box-sizing: border-box;
}

.projet-section-title{
  margin-left: 80px;
  font-family: 'Montserrat', sans-serif;
}
