.me-section {
  padding: 0 0.625rem 0 2.5rem;
  font-family: 'Montserrat', sans-serif;
}
.me-space {
  display: flex;
  height: 4.6875rem;
}
.me-placement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5.56vw;
  width: 100%;
  height: 100%; /* ou min-height selon besoin */
  box-sizing: border-box;
}


.me-section-title{
  margin-left: 5.56vw;
  font-family: 'Montserrat', sans-serif;
}





