.sidebar {
    background-color: #333;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #FFFFFF;
    border-right: #000000 solid 2px;
}
.space {
    height: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 20px 0;
}

button {
    background-color: #F0EEFB;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    padding: 8px 0;
    border-radius: 10px;
    border: #1B162C solid 2px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5C40D8;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    padding: 8px 0;
    border-radius: 10px;
    border: #1B162C solid 2px;
    transition: background-color 0.3s ease;
}