.container-sidebar {
    width: 130px;
    position: absolute;
}

.sidebar {
    background-color: #333;
    height: 400px;
    transform: translate(-50%, -50%);
    position: fixed;
    padding: 50px 0;
    top: 50%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #211C39;
    width: 120px;       /* largeur */
  aspect-ratio: 1.1547; /* hauteur / largeur pour hexagone régulier */
  clip-path: polygon(
    50% 0%,     /* sommet haut */
    100% 15%,  /* haut-droit */
    100% 85%,  /* bas-droit */
    50% 100%,   /* sommet bas */
    50% 0%,   /* bas-gauche */
    0% 50%    /* haut-gauche */
  );
}
.space {
    height: 40px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 25%;
    width: 100%;
}
.nav-links li {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.sidebar button {
    background-color: #F8F7FD;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #000000;
    aspect-ratio: 1 / 1;
    width: 40px;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 0;
    border-radius: 10px;
    border: #1B162C solid 2px;
    transition: 0.5s ease;
}

.sidebar button:hover {
    background-color: #5C40D8;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 0;
    border-radius: 10px;
    border: #FFFFFF solid 2px;
    transition: 0.5s ease;
}