.repo-container {
    display: flex;
    flex-direction: column;
    gap: 3.47vw;
    width: 100%;
    padding: 2.78vw 0;
    justify-content: center;
    align-items: center;
}

.repo-container > a {
    border: 2px solid #4f46e5;
    width: clamp(18.75rem, 40%, 37.5rem);
    justify-content: center;
    align-items: center;
    padding:  1.25rem 3.125rem;
    border-radius: 10px;
    text-decoration: none;
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    display: flex;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.repo-container > a > div {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.625rem ;
    color: #000;
}

.repoIcon {
    font-size: 4rem;
    justify-self: center;
    align-self: center;
}

.repo-container > a > div h2 {
    margin: 0;
    margin-bottom: 0.625rem;
}

.repo-container > a > div p {
    margin: 0;
    font-size: 0.875rem;
}

.repo-container > a > div h5 {
    margin: 0;
}

.repo-container > a:hover {
    border: 2px solid #4f46e5;
    padding:  1.25rem 3.125rem;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}