.techno-container {
    display: flex;
    width: 80%;
    max-width: 1100px;
    border: #4f46e5 solid 2px; 
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 50px;
}

.techno-container  > div {
    flex: 1 1 300px;
    height: clamp(150px, 200px, 250px);
    width: clamp(200px, 400px, 600px);
    border: #E6E4F5 solid 1px;
    border-radius: 10px;
    padding: 20px;
    transition: ease-in-out 0.3s;
}

.techno-container  > div:hover {
    flex: 1 1 300px;
    width: clamp(200px, 400px, 400px);
    border: #E6E4F5 solid 1px;
    border-radius: 10px;
    padding: 20px;
    transform: scale(1.02);
    transition: ease-in-out 0.3s;
}

.techno-container  > div h5 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 30px;
}

.techno-container  > div h2 {
    margin: 0;
    font-size: 20px;
}