.veille-content-main {
    width: 100%;
}

.veille-content-main-title {
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(
        90deg,             
        #818cf8,           
        #4f46e5 50%,      
        #3730a3            
    );
    color: transparent;
    -webkit-background-clip: text; 
    background-clip: text;        
    font-size: 3.125rem; 
    font-weight: 800;
}
.veille-content-main > p {
    width: 80%;
    margin: auto;
    margin-top: 4.86vw;
    margin-bottom: 4.86vw;
    font-size: 1.125rem;
    line-height: 1.6;
}

@media (max-width: 768px) {

.veille-content-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.veille-content-main-title {
    justify-self: center;
    align-self: center;
    margin: 0;
    padding: 2rem 0;
    background-image: linear-gradient(
        90deg,             
        #818cf8,           
        #4f46e5 50%,      
        #3730a3            
    );
    color: transparent;
    -webkit-background-clip: text; 
    background-clip: text;        
    font-size: 3.125rem; 
    font-weight: 800;
}
}