
.image-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    padding: 2.08vw 0;
}

.image-container a {

    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    
    width: clamp(18.75rem, 70%, 31.25rem); 
    text-decoration: none; 
    color: inherit; 
    background: linear-gradient(to right, #f8fafc, #f1f5f9); 
    border-radius: 12px;
    padding: 1.25rem;
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.3s;
    
    border: 2px solid #4f46e5; 
}

.image-container a:hover {
    transform: translateY(-0.3125rem); 
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
}

.image-container .image-veille {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
    margin-bottom: 0.9375rem;
    object-fit: cover; 
}

.image-container h3 {
    color: #4f46e5; 
    font-size: 1.5rem;
    margin: 5px 0 5px 0; 
    font-weight: 700;
}

.image-container p {
    color: #6b7280;
    font-size: 0.95rem;
    line-height: 1.4;
    margin: 0;
    padding: 0 0.625rem; 
}