.intro-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.intro-container > div {
    width : clamp(300px, 60%, 800px);
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    padding: 20px;
    border: 2px solid #4f46e5;
    border-radius: 10px;
}