.intro-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 6.94vw 0;
}

.intro-container > div {
    width : clamp(18.75rem, 60%, 55.56vw);
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    padding: 1.25rem;
    border: 2px solid #4f46e5;
    border-radius: 10px;
}

@media (max-width: 350px) {
    .intro-container > div {
    width : 80%;
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    padding: 1.25rem;
    border: 2px solid #4f46e5;
    border-radius: 10px;
}

}