.source-static-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2.08vw 0;
}

.source-static-main > div {
    width : clamp(18.75rem, 60%, 55.56vw);
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    padding: 1.25rem;
    border: 2px solid #4f46e5;
    border-radius: 10px;
}
.source-static-main > div > h2 {
    background-image: linear-gradient(
        90deg,             
        #818cf8,           
        #4f46e5 50%,      
        #3730a3            
    );
    color: transparent;
    -webkit-background-clip: text; 
    background-clip: text; 
}
 

.source-static-main > div > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;

}

.source-static-main > div > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
}


.source-static-main > div > ul > li > a {
    text-decoration: none;
    padding: 0.9375rem;
    border: 1px solid #666666;
    margin: 0.9375rem 0;
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

}

.source-static-main > div > ul > li > a:hover {
    transform: scale(1.02); 
    background-color: #FFFFFF; 
    border-color: #4f46e5;
}

.source-static-main > div > ul > li > a > div{
    display: flex;
    align-items: center;
    padding: 0.3125rem 0;
    gap: 0.625rem;
}

.source-static-main > div > ul > li > a > div > h3{
    margin: 0;
    color : #4f46e5;
}

.source-static-main > div > ul > li > a > div > p{
    color : #666666;
    font-size : 0.8125rem;
    margin: 0;
}

@media (max-width: 350px) {
    .source-static-main > div {
    width : 80%;
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    padding: 1.25rem;
    border: 2px solid #4f46e5;
    border-radius: 10px;
}
}


