.stats-container {
  width: auto;
  height: 17.36vw;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  
}

.chart-wrapper {
  width: 100%;
  height: 10.42vw;
}

.legend-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  color: #000000;
}

.legend-item {
  display: flex;
  flex-direction : column;
  align-items: center;
  color: #000000;
}

.legend-name {
  font-weight: 200;
  color: #000000;
}

.legend-value {
  font-weight: 200;
  color: #000000;
  padding: 0.125rem 0.375rem;
  border-radius: 4px;
}
