.dashboard-skills {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  align-items: flex-start;
}

/* Chart */
.skills-bar-chart {
  flex: 1;
}



/* Bar names */
.xaxis-tick {
  fill: #000;
  font-size: 1rem;
}
