.interet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.interet-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}


.interet-item {
    list-style: none;
    display: flex;
    margin: 20px;
}


@media (max-width: 350px) {

.interet-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.interet-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.interet-item {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem;
}



}