.xaxis-tick {
  fill: #000;      /* Nom des catégories en noir */
  font-size: 1rem; 
  dy: 1.25rem;        /* Décalage vertical sous la barre */
}
.yaxis-tick {
  fill: #000;      /* Valeurs en noir */
  font-size: 0.875rem; 
  dx: -0.625rem;       /* Décalage horizontal à gauche de la barre */
}   
.bar {
  fill: #5C40D8;  /* Couleur des barres */
  transition: fill 0.3s ease;
}
.bar:hover {
  fill: #7B61E6;  /* Couleur des barres au survol */
}

