.container-comp {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.container-comp h2 {
    margin-left: 5.56vw;
}


.widget-container-comp {
    padding: 2.78vw;
    display: flex;
    width: 80%;
    justify-self: center;
    align-self : center; 
    align-items: center;
    flex-direction: column;
    border: #211C39 solid 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    margin-bottom: 6.94vw;
}

.widget-container-button-comp {
    width: 27.78vw;
    padding: 3.47vw;
    display: flex;
    justify-self: center;
    justify-content: space-between;

}

.widget-container-button-comp button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    padding: 0 0.625rem;
    border-radius: 10px;
    border : 2px solid #5C40D8;
    color: #5C40D8;
    word-spacing: 0.1875rem;
    transition: transform 0.3s ease;
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
}

.widget-container-button-comp button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.625rem;
    width: 7.5rem;
    border-radius: 10px;
    word-spacing: 0.1875rem;
    border : 2px solid #6366f1;
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    transform: scale(1.05);
    transition:  0.3s ease;
    color: #6366f1; 
}