.widget-desc {
    flex: 1 1;
    padding: 40px;
    width: 80%;
    flex-direction: column;
    border: #211C39 solid 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
}