.photo-de-profil {
    border-radius: 50%;
    border: #211C39 solid 4px;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.photo-de-profil:hover {
    transform: scale(1.01);
}

